<body>
  <h1 id="leader-header">LEADER BOARD</h1>
  <ol id="leader-list">
    <%@leaders.each do|leader|%>
      <li class="leader"> <%=leader.username %> SCORE: <%=leader.top_score%> </li>
    <%end%>
  </ol>
</body>
