<body>
  <br><br><br><br><br><br>
  <h1 id="leader-header">Top 10 Players</h1>
  <table border=0 CELLPADDING=0 CELLSPACING=0>
    <tr>
      <th></th>
      <th>User Name</th>
      <th>Score</th>
    </tr>
    <%@leaders.each do|leader|%>
    <tr>
      <td><img src="<%=leader.avatar%>" height="42" width="42"></td>
      <td><%=leader.username %></td>
      <td><%=leader.top_score%></td>
    </tr>
    <%end%>
  </table>
</body>
