/*linkedIn blue #0077b5*/
.nav{
  float:right;
  margin-right:2%;
}
.nav a{
  color:red;
}
.logo-landing{
  background-image: url('/assets/logo2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width:100%;
  height:160px;
  margin:auto;
  color:#FFF;
  font-size:36px;
  width:800px;
  border-bottom:solid white 1px;
}
#title{
 background-image: url('/assets/logo2.png');
 background-size: 100% 100%;
 background-repeat: no-repeat;
 width:100%;
 height:160px;
 margin:auto;
 /*margin-top:50px;*/
 color:#FFF;
 font-size:36px;
 width:800px;
 border-bottom:solid white 1px;
}
.spacer{height:5px;}

#formContainer{
 width: 400px;
 border:solid white 2px;
 border-radius: 4px;
 padding: 10px;
 margin: 0 auto;
 background-color: #05547f;
 color: white;
 text-align: center;
}
#formContainer label{
  font-weight: bold;
}
#formContainer select{
  margin-bottom: 4px;
  font-size: 16px;
  font-weight:bold;

}
#formContainer button{
  height:30px;
  font-size:18px;
  font-weight: bold;
}
#play{
  width:100%;
  text-align: center;

}
#imgHolder{
 margin-left:17%;
 width:75px;
 float:left;
 overflow:hidden;
 transform: translateY(-40%);
}

#imgHolder img{
 position:relative;
  top:10px;

 }
#footer-bg{
  margin:0 auto;
  width:100%;
  height:300px;
  position:absolute;
  bottom:0;
}
#footer-img{
  height:100%;
  width:60%;
}

#guesses-options{
  margin-left: 170px;
  float: left;

  margin-bottom:10px;
}
#reset-btn{
  display:inline-block;
}
#score{
  margin: 0 auto;
  height:30px;
  width:100%;
  margin-bottom: 50px;

}
#score li {
  list-style: none;
  display: inline;
}

.modal-body{
  background-color: #0077b5;
  color: yellow;
}

.modal-header{
  background-color: #05547f;
}

.modal-title{
  background-color: #05547f;
  color:white;
  font-size: 18px;
  font-weight: bold;
}

/*__tumble weed animation_____________________________*/


#footer-bg .tumbleweed {
  position:absolute;
  /*left: -5rem;*/
  background: url(/assets/tumbleweed.png) no-repeat center;
  background-size: cover;
  width: 4rem;
  height: 4rem;
  animation: jumping 1.5s infinite, rolling 5s linear infinite, rotating 2s linear infinite;
  animation-play-state: paused;

}
.tumbleweed:nth-child(2) {
  animation-delay: 2.5s;
}
.tumbleweed:nth-child(3) {
  animation-delay: 4s;
}

@keyframes jumping {
  0% {
      top: 8rem;
      animation-timing-function: ease-in;
  }
  25% {
      top: 11rem;
      animation-timing-function: ease-out;
  }
  50% {
      top: 9rem;
      animation-timing-function: ease-in;
  }
  75% {
      top: 11rem;
      animation-timing-function: ease-out;
  }
  100% {
      top: 8rem;
      animation-timing-function: ease-in;
  }
}

@keyframes rolling {
  0% {
      left: -5rem;
  }
  100% {
      left: 100%;
  }
}

@keyframes rotating {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/*________________________________*/


body {
  background-color: #0077b5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color:white;
  max-height:850px;
  text-align:center;
  font-size:18px;
  height: 100%;
  overflow: hidden;
}

.wrappper{
  width:100%;
  margin:0 auto;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
   margin:5px 0;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 1.6em;
}

p{
  font-size: 1.6em;
}

#alphabet {
  margin:15px auto;
  padding:0;
  max-width:900px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  cursor:pointer;
  border: solid 1px white;


}

#wordsGuessed {
  display:inline-block;
	width:350px;
	height: 100px;
	border: solid white 2px;
	border-radius: 8px;
}
#wordsGuessed span{
	color:white;
}
#wordsGuessed li {
  display: inline-block;
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
}

#my-word {
  margin: 0 auto;
  /*display: block;
*/  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

#letter{
	border:solid white 2px;
	border-radius: 3px;
	background-color: #05547f;
	color:white;
}
#mylives{
  font-size:1.6em;
  text-align:center;
  display:block;
}
#my-word{
  padding-right:100px;
}
#my-word li{
  font-size: 50px;
}

@media (max-width: 767px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  @media (max-width: 480px) {
  #alphabet {
  padding:0 0 0 25px;
}
  }

/*-------------------Firework Animatons-----------------------*/

@-webkit-keyframes explosion {
  from {
    width: 0;
    opacity: 0;
  }
  33% {
    width: 0;
    opacity: 0;
  }
  34% {
    width: 10px;
    opacity: 1.0;
  }
  40% {
    width: 80px;
    opacity: 1.0;
  }
  to {
    width: 90px;
    opacity: 0;
  }
}

@-moz-keyframes explosion {
  from {
    width: 0;
    opacity: 0;
  }
  33% {
    width: 0;
    opacity: 0;
  }
  34% {
    width: 10px;
    opacity: 1.0;
  }
  40% {
    width: 80px;
    opacity: 1.0;
  }
  to {
    width: 90px;
    opacity: 0;
  }
}

/*#footer-bg {
  position: relative;
  height: 200px;
}*/

.launcher {
  position: absolute;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  background: red;
  border-bottom: 3px solid yellow;
}

.launcher div {
  position: absolute;
  opacity: 0;
  -webkit-animation-name: explosion;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: explosion;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  left: 3px;
  top: 3px;
  width: 10px;
  height: 4px;
  border-right: 4px solid yellow;
  border-radius: 2px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
}

.leader:nth-child(odd) {
  background: #9ea6b2;

}
