

#formContainer{
 width: 400px;
 border:solid orange 4px;
 border-radius: 4px;
 padding: 10px;
 margin: 0 auto;
 background-color: gray;
}

/*_______________________________*/



body {
  background-color: grey;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color:$white;
  height:100%;
  text-align:center;
  font-size:18px;
}

.wrappper{
  @include clear;
  width:100%;
  margin:0 auto;
}


canvas{
  color:$white;
  border: $white dashed 2px;
  padding:15px;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
   margin:5px 0;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 1.6em;
}

p{
  font-size: 1.6em;
}

#alphabet {
  @include clear;
  margin:15px auto;
  padding:0;
  max-width:900px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:$white;
  color:$base-color;
  cursor:pointer;
  @include corners(5px);
  border: solid 1px $white;


}
#alphabet li:hover{
	background-color:blue;
}
#wordsGuessed {
	width:350px;
	height: 100px;
	border: solid orange 2px;
	border-radius: 8px;
	margin: 0 auto;
}
#wordsGuessed span{
	color:white;
}
#wordsGuessed li {
  display: inline-block;
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
}

#my-word {
  margin: 0 auto;
  /*display: block;
*/  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

.active {
  @include opacity;
  cursor:default;

  &:hover{
      @include fade;
      @include opacity;
    }
}
#letter{
	border:solid orange 2px;
	border-radius: 3px;
	background-color: orange;
	color:gray;
}
#mylives{
  font-size:1.6em;
  text-align:center;
  display:block;
}

button{
  @include corners (5px);
  background:$base-color;
  color:$white;
  border: solid 1px $white;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;

    &:hover{
      @include transition;
      background:$white;
      border: solid 1px $white;
      color:$base-color;
    }
}

@media (max-width: 767px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  @media (max-width: 480px) {
  #alphabet {
  padding:0 0 0 25px;
}
  }
