<body>
	<div id="formContainer">
			<label>Difficulty</label>
			<select id="difficulty">
	  			<option value="1">Easy</option>
	  			<option value="5">Medium</option>
	  			<option value="10">Hard Core!</option>
			</select>
			<br>
			<label>How many Rounds would you like to play?</label>
			<select id="rounds">
	  			<option value="1">1</option>
	  			<option value="2">2</option>
	  			<option value="3">3</option>
			</select>
			<br>
			<button id="play">Play</button>
	</div>
	<div class="wrapper">
    <div id="buttons">
    </div>
   <br><br><br><br>
    <div id="hold">
    </div>
    <p id="mylives"></p>
     <canvas id="stickman"></canvas>

    <div id="wordsGuessed">
    	<span>Words Guessed</span>
    	<ul></ul>
    </div>
    <div class="container">
      <button id="reset">Play again</button>
    </div>
</div>
</body>
