<div class= "nav">
<% if current_user %>
  <%= current_user.username %> | <%= link_to "Logout", logout_path,:method => :delete  %>
  <div id="spotify" style="display:none; ">
    <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A33Q6ldVXuJyQmqs8BmAa0k" width="200" height="100" frameborder="0" allowtransparency="true"></iframe>
  </div>

  <div class="music">
    <button type="button" class="btn btn-default btn-md" id="spotify-toggle">
      <span class="glyphicon glyphicon-music"></span>Music
    </button>
  </div>
  <% else %>
  <%=  link_to "Register", signup_path, :id => "Register" %> | <%= link_to "Sign In", login_path  %>

<% end %>
</div>
